{% load static %}


<style>
  .hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }

  #nav_logo {
    max-width: 200px;
    max-height: 50px;
    margin: 0 auto;
    border-radius: 50%;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <img id="nav_logo" src="{% static 'images\logo.png' %}">

    </ul>
  </div>

  <span class="hello-msg">Hello, {{request.user.get_full_name}}</span>
  {% if request.user.is_superuser %}
  <span><a class="hello-msg" href="{% url 'admin:index' %}">Admin Panel</a></span>
  {% endif %}
  <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
</nav>