{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% block header %}
    {% endblock %}
    <style type="text/css">
        .popover {
            max-width: 100%;
            overflow-y: auto;
            z-index: 1000;
        }
    </style>

    <script>
        day_index = { 'SUN': 0, 'MON': 1, 'TUE': 2, 'WED': 3, 'THU': 4 }
        course_in_a_day = {
            '11SUN': [], '11MON': [], '11TUE': [], '11WED': [], '11THU': [],
            '12SUN': [], '12MON': [], '12TUE': [], '12WED': [], '12THU': [],
            '21SUN': [], '21MON': [], '21TUE': [], '21WED': [], '21THU': [],
            '22SUN': [], '22MON': [], '22TUE': [], '22WED': [], '22THU': [],
            '31SUN': [], '31MON': [], '31TUE': [], '31WED': [], '31THU': [],
            '32SUN': [], '32MON': [], '32TUE': [], '32WED': [], '32THU': [],
            '41SUN': [], '41MON': [], '41TUE': [], '41WED': [], '41THU': [],
            '42SUN': [], '42MON': [], '42TUE': [], '42WED': [], '42THU': [],
        }

        room_in_a_cell = {
            'SUN8': [], 'SUN9': [], 'SUN10': [], 'SUN11': [], 'SUN12': [], 'SUN1': [], 'SUN2': [], 'SUN3': [], 'SUN4': [],
            'MON8': [], 'MON9': [], 'MON10': [], 'MON11': [], 'MON12': [], 'MON1': [], 'MON2': [], 'MON3': [], 'MON4': [],
            'TUE8': [], 'TUE9': [], 'TUE10': [], 'TUE11': [], 'TUE12': [], 'TUE1': [], 'TUE2': [], 'TUE3': [], 'TUE4': [],
            'WED8': [], 'WED9': [], 'WED10': [], 'WED11': [], 'WED12': [], 'WED1': [], 'WED2': [], 'WED3': [], 'WED4': [],
            'THU8': [], 'THU9': [], 'THU10': [], 'THU11': [], 'THU12': [], 'THU1': [], 'THU2': [], 'THU3': [], 'THU4': [],
        }

    </script>
</head>

<body>

    {% block navbar %}
    {% include 'core/admin_navbar.html' %}
    {% endblock navbar %}

    <!--main content wrapper-->
    <div class="mcw">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="card">
                        <div class="card-header text-center"><strong>Teachers' List</strong></div>
                        <div class="card-body">
                            <div class="accordion" id="teacher_list">
                                {% block teacher_list %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-center"><strong>Course List</strong></div>
                        <div class="card-body">
                            <div class="accordion" id="course_list">
                                {% block course_list %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {% block js %}

    {% endblock %}

</body>

</html>