{% load static %}
{% load crispy_forms_tags %}


<div class="schedule">
    <table class="table table-bordered">
        <thead class="thead-dark text-center bg-dark text-light">
            <tr>
                <th scope="col">Day/Time</th>
                <th scope="col">8 AM</th>
                <th scope="col">9 AM</th>
                <th scope="col">10 AM</th>
                <th scope="col">11 AM</th>
                <th scope="col">12 PM</th>
                <th scope="col">1 PM</th>
                <th scope="col">2 PM</th>
                <th scope="col">3 PM</th>
                <th scope="col">4 PM</th>
            </tr>
        </thead>
        <tbody style="height: 50px;">
            <tr class="text-center" style="height: 70px;">
                <th class="bg-dark text-light" scope="col">SUN</th>
                <td scope="col" id="{{semester}}SUN8"></td>
                <td scope="col" id="{{semester}}SUN9"></td>
                <td scope="col" id="{{semester}}SUN10"></td>
                <td scope="col" id="{{semester}}SUN11"></td>
                <td scope="col" id="{{semester}}SUN12"></td>
                <td class="bg-warning" rowspan="6"><br><br><br><br>B<br>R<br>E<br>A<br>K</td>
                <td scope="col" id="{{semester}}SUN2"></td>
                <td scope="col" id="{{semester}}SUN3"></td>
                <td scope="col" id="{{semester}}SUN4"></td>
            </tr>
            <tr class="text-center" style="height: 70px;">
                <th class="bg-dark text-light" scope="col">MON</th>
                <td scope="col" id="{{semester}}MON8"></td>
                <td scope="col" id="{{semester}}MON9"></td>
                <td scope="col" id="{{semester}}MON10"></td>
                <td scope="col" id="{{semester}}MON11"></td>
                <td scope="col" id="{{semester}}MON12"></td>
                <td scope="col" id="{{semester}}MON2"></td>
                <td scope="col" id="{{semester}}MON3"></td>
                <td scope="col" id="{{semester}}MON4"></td>
            </tr>
            <tr class="text-center" style="height: 70px;">
                <th class="bg-dark text-light" scope="col">TUE</th>
                <td scope="col" id="{{semester}}TUE8"></td>
                <td scope="col" id="{{semester}}TUE9"></td>
                <td scope="col" id="{{semester}}TUE10"></td>
                <td scope="col" id="{{semester}}TUE11"></td>
                <td scope="col" id="{{semester}}TUE12"></td>
                <td scope="col" id="{{semester}}TUE2"></td>
                <td scope="col" id="{{semester}}TUE3"></td>
                <td scope="col" id="{{semester}}TUE4"></td>
            </tr>
            <tr class="text-center" style="height: 70px;">
                <th class="bg-dark text-light" scope="col">WED</th>
                <td scope="col" id="{{semester}}WED8"></td>
                <td scope="col" id="{{semester}}WED9"></td>
                <td scope="col" id="{{semester}}WED10"></td>
                <td scope="col" id="{{semester}}WED11"></td>
                <td scope="col" id="{{semester}}WED12"></td>
                <td scope="col" id="{{semester}}WED2"></td>
                <td scope="col" id="{{semester}}WED3"></td>
                <td scope="col" id="{{semester}}WED4"></td>
            </tr>
            <tr class="text-center" style="height: 70px;">
                <th class="bg-dark text-light" scope="col">THU</th>
                <td scope="col" id="{{semester}}THU8"></td>
                <td scope="col" id="{{semester}}THU9"></td>
                <td scope="col" id="{{semester}}THU10"></td>
                <td scope="col" id="{{semester}}THU11"></td>
                <td scope="col" id="{{semester}}THU12"></td>
                <td scope="col" id="{{semester}}THU2"></td>
                <td scope="col" id="{{semester}}THU3"></td>
                <td scope="col" id="{{semester}}THU4"></td>
            </tr>
        </tbody>
    </table>
</div>