{% extends 'core/admin_base.html' %}
{% load crispy_forms_tags %}

{% block teacher_list %}

{% for teacher in teachers %}
<div class="accordion-item">
    <h2 class="accordion-header" id="teacher{{teacher.pk}}" style="display: none;">
        <button class="accordion-button collapsed" type="button" data-toggle="collapse"
            data-target="#collapse{{teacher.pk}}" aria-expanded="true" aria-controls="collapse{{teacher.pk}}">
            {{ teacher.user.get_full_name }}
        </button>
    </h2>
    <div id="collapse{{teacher.pk}}" class="accordion-collapse collapse" aria-labelledby="teacher{{teacher.pk}}"
        data-parent="#teacher_list">
        <div class="accordion-body">
            <ul class="list-group">
                {% for course in teacher.course_set.all %}
                <li class="list-group-item" id="{{ course.course_code }} + {{ course.course_type|lower }}"
                    style="display: none;">
                    <div class="row">
                        <div class="col-md-8">
                            {{ course.course_code }} {{ course.course_type|lower }}
                        </div>
                        <div class="col-md-4">
                            {% if course.course_type == 'LAB' %}
                            {% widthratio course.course_credit 1 2 %} hrs left
                            {% else %}
                            {{ course.course_credit|floatformat }} hrs left
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block course_list %}
{% for course in courses %}
<div class="accordion-item">
    <h2 class="accordion-header" id="{{ course.course_code|cut:' ' }}">
        <button class="accordion-button collapsed" type="button" data-toggle="collapse"
            data-target="#collapse{{course.course_code|cut:' '}}" aria-expanded="true"
            aria-controls="collapse{{course.course_code|cut:' '}}">
            <span><strong>{{ course.course_code }}:</strong> {{ course.course_name }}</span>
        </button>
    </h2>
    <div id="collapse{{course.course_code|cut:' '}}" class="accordion-collapse collapse"
        aria-labelledby="{{course.course_code|cut:' '}}" data-parent="#course_list">
        <div class="accordion-body">
            <ul class="list-group">
                <li class="list-group-item">
                    {% if course.course_type == 'LAB' %}
                    {% widthratio course.course_credit 1 2 %} hrs left
                    {% else %}
                    {{ course.course_credit|floatformat }} hrs left
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block navbar %}
{% with current='create' %}{{ block.super }}{% endwith %}
{% endblock navbar %}

{% block body %}
<div class="row jumbotron">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills" id="routine" role="tablist">
                    <li class="nav-item">
                        <span class="nav-link text-dark"><strong>Semester</strong></span>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link active" id="pills-11-tab" data-bs-toggle="pill" data-target="#pills-11"
                            type="button" role="tab" aria-controls="pills-11" aria-selected="true">1 / 1</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="pills-12-tab" data-bs-toggle="pill" data-target="#pills-12"
                            type="button" role="tab" aria-controls="pills-12" aria-selected="false">1 / 2</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="pills-21-tab" data-bs-toggle="pill" data-target="#pills-21"
                            type="button" role="tab" aria-controls="pills-21" aria-selected="false">2 / 1</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="pills-22-tab" data-bs-toggle="pill" data-target="#pills-22"
                            type="button" role="tab" aria-controls="pills-22" aria-selected="false">2 / 2</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="pills-31-tab" data-bs-toggle="pill" data-target="#pills-31"
                            type="button" role="tab" aria-controls="pills-31" aria-selected="false">3 / 1</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="pills-32-tab" data-bs-toggle="pill" data-target="#pills-32"
                            type="button" role="tab" aria-controls="pills-32" aria-selected="false">3 / 2</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="pills-41-tab" data-bs-toggle="pill" data-target="#pills-41"
                            type="button" role="tab" aria-controls="pills-41" aria-selected="false">4 / 1</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="pills-42-tab" data-bs-toggle="pill" data-target="#pills-42"
                            type="button" role="tab" aria-controls="pills-42" aria-selected="false">4 / 2</button>
                    </li>
                </ul>

            </div>
            <div class="card-body">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-11" role="tabpanel" aria-labelledby="pills-11-tab">
                        {% include "core/admin_routine.html" with semester="11"%}
                    </div>
                    <div class="tab-pane fade" id="pills-12" role="tabpanel" aria-labelledby="pills-12-tab">
                        {% include "core/admin_routine.html" with semester="12"%}
                    </div>
                    <div class="tab-pane fade" id="pills-21" role="tabpanel" aria-labelledby="pills-21-tab">
                        {% include "core/admin_routine.html" with semester="21"%}
                    </div>
                    <div class="tab-pane fade" id="pills-22" role="tabpanel" aria-labelledby="pills-22-tab">
                        {% include "core/admin_routine.html" with semester="22"%}
                    </div>
                    <div class="tab-pane fade" id="pills-31" role="tabpanel" aria-labelledby="pills-31-tab">
                        {% include "core/admin_routine.html" with semester="31"%}
                    </div>
                    <div class="tab-pane fade" id="pills-32" role="tabpanel" aria-labelledby="pills-32-tab">
                        {% include "core/admin_routine.html" with semester="32"%}
                    </div>
                    <div class="tab-pane fade" id="pills-41" role="tabpanel" aria-labelledby="pills-41-tab">
                        {% include "core/admin_routine.html" with semester="41"%}
                    </div>
                    <div class="tab-pane fade" id="pills-42" role="tabpanel" aria-labelledby="pills-42-tab">
                        {% include "core/admin_routine.html" with semester="42"%}
                    </div>
                </div>
            </div>
            <div class="card-footer ml-3" id="cardFooter" style="display: none; color:darkslategray;"><b>Click on a
                    Cell to mark it as Engaged. Double click to remove the mark</b></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 ml-3">
            <form action="" method="POST">
                {% csrf_token %}
                <div id="routineForm" style="display: none;">
                    {{ formset.management_form }}
                    {% for form in formset %}
                    {{ form }}<hr>
                    {% endfor %}
                </div>
                <button class="btn btn-success mt-3" type="submit" id="uploadToServer" style="display: inline-block;">
                    Upload to the Server
                </button>
            </form>
        </div>
        <div class="mt-3 col-md-3">
            <button class="btn btn-primary" onclick="startUpdate()" style="display: inline-block;"
                id="updateSchedule">
                Update Routine
            </button>
        </div>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary mt-3 ml-3" type="button" href="" id="saveUpdate" style="display: none; cursor:pointer;"
            onclick="saveUpdate()">Save
        </button>
    </div>
</div>
{% endblock body %}

{% block js %}

<script>
// Tests //


// Tests ends //



//-------- Show all courses and teachers of the semester that is selected currently starts ---------//

// Initially semester 11 selected //
showAllSemesterCourses("11");
showAllTeachersofThisSemester("11");

// Function that actually shows courses
function showAllSemesterCourses(tab_id) {
    {% for course in courses %}
    course_element = document.getElementById("{{ course.course_code|cut:' ' }}")
    if ({{ course.semester }} != tab_id) {
        course_element.setAttribute("style", "display: none;")
        }
    else {
        course_element.setAttribute("style", "display: block;")
    }
    {% endfor %}
}


//Function that actually shows teachers
function showAllTeachersofThisSemester(tab_id) {
    {% for teacher in teachers %}
    var isShown = false
    {% for course in teacher.course_set.all %}
    teacher_element = document.getElementById("teacher{{teacher.pk}}")

    // Show teacher or not
    if ({{ course.semester }} != tab_id ) {
        if (isShown == false) {
            teacher_element.setAttribute("style", "display: none;")
        }

        // Hide courses that are not of this semester
        teacher_course_id = "{{ course.course_code }} + {{ course.course_type|lower }}"
        course_of_teacher = document.getElementById(teacher_course_id)
        course_of_teacher.setAttribute("style", "display: none;")
    }
    else if ({{ course.semester }} == tab_id) {
    teacher_element.setAttribute("style", "display: block;");

    // show courses of this teacher only of this semester
    teacher_course_id = "{{ course.course_code }} + {{ course.course_type|lower }}"
    course_of_teacher = document.getElementById(teacher_course_id)
    course_of_teacher.setAttribute("style", "display: block;")
    isShown = true;

    }
    {% endfor %}
    {% endfor %}
}

//-------- Show all courses and teachers of the semester that is selected currently ends ---------//



//----------------- Funtion for selected tab starts---------------------//
var triggerTabList = [].slice.call(document.querySelectorAll('#routine button'));

triggerTabList.forEach(function (selectedTab) {
    var tabTrigger = new bootstrap.Tab(selectedTab);

    selectedTab.addEventListener('click', function (event) {
        // Mark the selected tab as primary button
        event.preventDefault();
        tabTrigger.show();


        // Show all courses of the selected semester
        var tab_id = $(this).attr('id');
        tab_id = tab_id.slice(6, 8);
        showAllSemesterCourses(tab_id);

        // Show all teachers who are taking course in the selected semester
        showAllTeachersofThisSemester(tab_id);

        

    })
})
//----------------- Funtion for selected tab ends---------------------//




//----------------- Showing Current Assigned Classes starts---------------------//

// Save current classes in this object
assigned_class_cell_ids = []
assigned_class_cell_values = {}

for (let i = 0; i < 1; i++) {
    initialForm = document.getElementById("id_form-INITIAL_FORMS").value
    {% for form in formset %}
    if ({{ forloop.counter0 }} == initialForm) {
        break;
    }
    var cell_id = "";
    var cell_semester;

    var class_course;
    var class_room;
    var class_teacher;
    {% for field in form %}
        cell = document.getElementById("{{ field.id_for_label }}")
        if({{ forloop.counter0 }} == 0) {
            cell_semester = cell.value;
            cell_semester = cell_semester.toString();
        }
        else if({{ forloop.counter0 }} == 1 || {{ forloop.counter0 }} == 2) {
            cell_id += cell.value;
        }
        else if ({{ forloop.counter0 }} == 3) {
            class_course = cell.options[cell.selectedIndex].text;
            for(let i = 0; i < 1; i++) {
                {% for course in courses %}
                if("{{ course.course_code }}" == class_course) {
                class_teacher = "{{ course.teacher.getShortName }}"
                break;
                }
                {% endfor %}
            }
            class_course = class_course.replace(/\s/g,'');
        }
        else if ({{ forloop.counter0 }} == 4) {
            class_room = cell.options[cell.selectedIndex].text;
            {% for room in rooms %}
            if ("{{ room.room_id }}" == class_room) {
                if("{{ room.room_type }}" == 'THEORY') {
                    class_room = "R-" + class_room
                }
                else {
                    class_room = "L-" + class_room
                }
            }
            {% endfor %}
        }
    {% endfor %}

    // cell_id example = "11SUN8"
    // Where '11' is semester and 'SUN8' is the cell place
    cell_id = cell_semester + cell_id;
    assigned_class_cell_ids.push(cell_id);

    // Assign class details
    // Format {'11SUN8': 'CSE143 JR R-331'}
    assigned_class_cell_values[cell_id] = class_course + " " + class_teacher + " " + class_room
    {% endfor %}
}

// Now show the current classes in the Routine
for (class_id in assigned_class_cell_ids) {
    id = assigned_class_cell_ids[class_id]
    routine_cell = document.getElementById(id);
    cell_value = assigned_class_cell_values[id]
    routine_cell.setAttribute("style", "background-color: green;")
    routine_cell.innerText = cell_value
}
//----------------- Showing Current Assigned Classes ends---------------------//



//------ Update Engagement Schedule in the Run-Time starts ------//

    // Make a list of all cell ids
    const id_list = []
    tab_content = document.getElementById("pills-tabContent").children;
    cnt = 0;
    for (let i = 0; i < tab_content.length; i++) {
        t_body = tab_content[i].children[0].children[0].children[1].children
        for (let j = 0; j < t_body.length; j++) {
            day = t_body[j].children;
            for (let k = 0; k < day.length; k++) {
                cell = day[k];
                if(cell.id) {
                    id_list.push(cell.id)
                }
            }
        }
    }


    update_button = document.getElementById("updateSchedule")
    upload_button = document.getElementById("uploadToServer")
    save_button = document.getElementById("saveUpdate")
    footer = document.getElementById("cardFooter")

    function startUpdate() {
        update_button.style.display = "none"
        upload_button.style.display = "none"
        save_button.style.display = "inline-block"
        footer.style.display = "inline-block"

        for (let i = 0; i < id_list.length; i++) {
            let cell = document.getElementById(id_list[i])
            cell.style.cursor = "pointer"
            cell.innerText = ""
            cell.addEventListener("click", addClass);
        }
    }

    addClass = function (event) {
        cell_id = event.target.id
        classList = event.target.classList
        if (classList.contains("bg-danger")) {
            classList.remove("bg-danger");
            $("#id_time_table option:contains(" + cell_id + ")").prop('selected', false)
        }
        else {
            classList.add("bg-danger");
            $("#id_time_table option:contains(" + cell_id + ")").prop('selected', true)
        }
    }

    function saveUpdate() {
        update_button.style.display = "inline-block"
        upload_button.style.display = "inline-block"
        save_button.style.display = "none"
        footer.style.display = "none"

        for (let i = 0; i < id_list.length; i++) {
            cell = document.getElementById(id_list[i])
            cell.style.cursor = "default"
            cell.innerText = ""
            cell.removeEventListener("click", addClass);
        }
    }


</script>

{% endblock %}