{% extends 'core/admin_base.html' %}
{% load crispy_forms_tags %}


{% block room_reg_active %}
class="active"
{% endblock room_reg_active %}

{% block body %}
<div class="row jumbotron">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        {% for message in messages %}
        <div class="alert alert-{{ message.extra_tags }}" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% if form.errors %}
        {% for error in field.errors %}
        <strong>{{ error|escape }}</strong>
        {% endfor %}
        {% endif %}
        <div class="card">
            <h1 class="card-header">
                Register a New Room
            </h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    {{ form.room_id|as_crispy_field }}
                    {{ form.room_type|as_crispy_field }}
                </div>
                <input class="btn btn-primary mb-4" id="registerRoom" value="Submit" type="submit">
            </form>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

{% endblock body %}